@import "~dropzone/dist/basic";
@import "~dropzone/dist/dropzone";
@import "~cropperjs/dist/cropper";
@import "~bootstrap/scss/functions";
@import '~bootstrap/scss/variables';
@import '../../../../../Backend/assets/Backend/webpack/scss/bootstrap-variables';

.card-media-item {
  height: 100%;

  .card-body {
    padding: 0.5rem;
  }

  .file-icon {
    width: 100%;
    aspect-ratio: 1;
    min-height: 50px;
    background-color: #e5e5e5;
  }

  @media (min-width: 1200px) {
    width: 170px;
  }
}

.media-library-rows {
  picture {
    width: 90px;
    height: 90px;
    display: block;
    padding: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

#tree li[rel="folder"] {
  &::marker {
    font-family: emoji;
    content: "\1F4C1";
  }

  &.selected > a {
    background: $primary;
    color: $white;
    border-radius: 4px;
  }
}
